modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["stripe:2.0.0", "google-mail:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.development]
STRIPE_SECRET_KEY = "sk_test_51Ss5XaBOLYtt8SNyjRQk56e4ZoDWDlQm3sZ6qd1H6wv6J2n9rU1rtIC24Zba6adk4xOHlAhfqnfpMbUo0Ij2ddFn00YD2Ubvjp"
STRIPE_PUBLISHABLE_KEY = "pk_test_51Ss5XaBOLYtt8SNyNnU8GgSlZhaAsp5igGxTYFmu5y2tYZqRX4zH3PrQqwkyRV80O9W0RsWdgh3yC4COM41pZgY5005JzEj1eA"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_test_51Ss5XaBOLYtt8SNyNnU8GgSlZhaAsp5igGxTYFmu5y2tYZqRX4zH3PrQqwkyRV80O9W0RsWdgh3yC4COM41pZgY5005JzEj1eA"
